@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

html, body {
	height:100%;
}

body {
	font-family:'Open Sans', sans-serif;
	font-size:18px;
	font-weight:400;
	color:#F0F0F0;
	background:#313131;
}

b {
	font-weight:600;
}

/**/

.main {
	display:flex;
	align-items:center;
	justify-content:center;
	height:100%;
}

.main > div {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}

/**/

.card-text {

}

/**/

.card-link {

}
