@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

* {
	padding:0;
	margin:0;
	box-sizing:border-box;
}

html, body {
	height:100%;
}

body {
	line-height:1.5;
	font-family:'Roboto Mono', monospace;
	font-size:18px;
	font-weight:400;
	background-color:#3E3E3E;
	background-image:url('./images/back.png');
	background-attachment:fixed;
	background-position:top;
}

h1 {
	display:block;
	line-height:1;
	padding:0;
	margin:0;
	font-size:44px;
	font-weight:bold;
}

.subtitle {
	line-height:1;
	padding:0 0 20px 0;
	margin:0;
	font-size:28px;
	font-weight:normal;
}

b {
	font-weight:600;
}

a:link, a:visited {
	text-decoration:none;
	color:#FFFFFF;
}

a:hover {
	text-decoration:none;
}

/**/

.header {
	max-width:1200px;
	margin:0 auto;
	background:url('./images/header.jpg');
}

.header img {
	display:block;
	max-width:100%;
	margin:0;
}

/**/

.content {
	display:table;
	max-width:1200px;
	margin:0 auto;
	color:#D8D8D8;
}

.left, .right {
	display:table-cell;
	vertical-align:top;
}

.left {
	padding:30px 20px;
	background-color:#111111;
}

.right {
	width:390px;
	padding:30px 20px;
	box-sizing:border-box;
	background-color:#242424;
}

/**/

.right > div {
	padding:20px;
	margin:0 0 30px 0;
	text-align:center;
	background:#343434;
}

.right > div:last-child {
	margin:0;
}

/**/

.footer {
	height:100px;
	line-height:100px;
	font-size:14px;
	color:#FFFFFF;
	text-align:center;
}

/**/

.gallery > img {
	cursor:pointer;
	display:inline-block;
	width:calc(25% - 8px);
	padding:4px;
	margin:4px;
	background:#FFFFFF;
	border:0;
	box-sizing:border-box;
}

/**/

@media screen and (max-width:900px) {
	body {
		font-size:16px;
	}

	h1 {
		font-size:28px;
	}

	.subtitle {
		font-size:22px;
	}

	.content, .left, .right {
		display:block;
	}

	.right {
		width:auto;
	}
}
